/* all.css

Le css all a pour but d'intervenir sur toutes les pages,
pour en modifier le corps, la barre du menu et le pied de page.

Si des modifications sont faites ici, il faut donc vérifier
toutes les pages pour s'assurer que le changement n'est rien
cassé.

*/



/*------- Changement sur des éléments généraux -------*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  color: #2E3244;
  background-color: #FFFFFF;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

/*------- Changement sur le menu -------*/

.navbar {
  position: absolute;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
  background-color: #FFFFFFEA;
  position: sticky;
  top: 0;
}

.navbar .logo {
  font-size: 2em;
  font-weight: bold;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 25px;
}

.navbar .nav-links ul li.active a {
  color: #F1895C;
  font-weight: 600; 
}

.navbar .nav-links ul li a{
  color: #2E3244;
  font-weight: bold;
  font-size: 1em;
  transition-duration: 500ms;
}

.navbar .nav-links ul li a:hover{
  color: #F1895C;
  transition-duration: 200ms;
}

.burger-icon{
  display: none;
}

.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

@media screen and (max-width: 900px){

  .navbar{
    padding: 0;
    background-color: #FFFFFFEA;
  }

  .navbar .logo {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .burger-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .burger-icon{
    display: block;
  }

  .nav-links{
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links.mobile-menu{
    margin-left: 0px;
  }

  .nav-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em ;
  }

}

.espace_banniere{
  padding-top: 30%;
  z-index: 2;
}
.espace_banniere img{
  display: fixed;
  bottom: 0px;
  right: 0px;
}

.banniere{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}

/*-- --*/

.contact{
  background-color: #2E3244;
  margin: 0px;
  margin-top: 20px;
  height: 4em;
  text-align: center;
}
.contact li{
  width: 25%;
}
.contact li a{
  position: relative;
  top: 1.5em;
  color: white;
  text-decoration: none;
}

/*--*/

.bouton_visite{
  height: 2em;
  border-radius: 1em;
  background-color: #F1895C;
  color: #2E3244;
  text-decoration: none;
  display: inline-block;
  padding-top: 0.5em;
  text-align: center;
  font-weight: bold;
  margin-top: 1em;
}