.text{
	width: 70%;
}

.img {
	width: 30%;
}

.partenaire {
	width: 80%;
	padding-left: 10%;
	padding-top: 50px;
}

img {
	width: 100%;
}

.khsXnO {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	fill: rgb(239, 0, 0);
}

.text p {
	max-width: 90%;
	padding-left: 5%;
}

.flex-item {
	color: black;
}