.partenaire {
	width: 80%;
	padding-left: 10%;
	padding-top: 50px;
}

.partenaire .text{
	width: 70%;
}

.partenaire .img {
	width: 30%;
}

.partenaire img {
	width: 100%;
}

.logo_rs {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	fill: rgb(239, 0, 0);
}

.text p {
	max-width: 90%;
	padding-left: 5%;
}

.text h1{
	text-align: center;
}

.text a{
	margin-left: 35%;
	margin-top: 0.5em;
}

.bouton_visite{
	height: 2em;
	width: 30%;
	border-radius: 1em;
	background-color: #2E3244;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding-top: 0.5em;
	text-align: center;
}